<!doctype html>
<title>Camera json</title>

<p>Camera json example see <a href="http://spacetime.nypl.org/Leaflet.GeotagPhoto/examples/camera.html">camera demo</a></p>
<form action="./camera" method="POST">
  <label>Camera scale</label>
  <select name="camera_scale" id="camera_scale">
    <option value="1">1</option>
    <option value="1.2">1.2</option>
    <option value="1.5">1.5</option>
    <option value="2">2</option>
  </select>
  <br/>
  <label>Camera json</label>
  <textarea name="camera_json" rows="40" cols="50" >
{
  "type": "Feature",
  "properties": {
    "angle": 38.876645504061116,
    "bearing": 31.979981482645943,
    "distance": 87.9921646359149
  },
  "geometry": {
    "type": "GeometryCollection",
    "geometries": [
      {
        "type": "Point",
        "coordinates": [
          4.646878838539124,
          52.3969167956431
        ]
      },
      {
        "type": "LineString",
        "coordinates": [
          [
            4.647177386477727,
            52.39773567907421
          ],
          [
            4.647953579015309,
            52.39743995473123
          ]
        ]
      }
    ]
  }
}
  </textarea>
  <br/>
  <input type="submit"/>
</form>