<!doctype html>

<head>
  <title>Camera json</title>
  <link href="css/blikveld.css" rel="stylesheet">
</head>

<body>
<div class="header">
  <h1>Blikveld2BAG</h1>
</div>

<div class="wrapper">
  <div class="intro">
    <p>
      De Blikveld2BAG API geeft de panden (en adressen) terug die op de foto te zien zouden moeten zijn. Voor de New York Public Library maakte Bert Spaan eerder een <a href="http://spacetime.nypl.org/Leaflet.GeotagPhoto/examples/camera.html">tooltje om zo'n blikveld mee te tekenen</a>. De output van dat tooltje dient als de input voor deze api.
    </p>
    <p>
      De API geeft alleen de panden terug die daadwerkelijk in zicht staan, panden die achter andere panden staan worden niet teruggegeven.
    </p>
    <p>
      Bouwjaren worden meegegeven, zodat je desgewenst rekening kunt houden met het moment waarop een foto is genomen.
    </p>
    <p>
      Onder het kopje <a href="#hoehetwerkt">Hoe het werkt</a> meer over ... hoe het werkt.
    </p>
  </div>
  <div class="intro">
    <img src="imgs/blikveld2bag.png" />
    <p class="smaller" style="margin-top: 24px;">
      Code door <a href="http://zuidt.nl/">Richard Duivenvoorde</a>, vanaf de zijlijn aangemoedigd door <a href="http://islandsofmeaning.nl/">Menno den Engelse</a>, mede mogelijk gemaakt door een financiële bijdrage van het <a href="https://noord-hollandsarchief.nl/">Noord-Hollands Archief</a>, code op <a href="https://github.com/rduivenvoorde/blikveld">GitHub</a>. 
    </p>
  </div> 
</div>


<h2>Verplichte Parameter</h2>

<table>
  <tr>
    <td style="width: 30%">
      <strong>camera_json</strong>
    </td>
    <td style="width: 30%">
      camera_json=[urlencoded geojson]
    </td>
    <td>
      De geojson moet een GeometryCollection bevatten met een punt (het camerastandpunt) en een lijn (de tegenovergelegen zijde waarmee het blikveld wordt uitgedrukt), zoals het <a href="http://spacetime.nypl.org/Leaflet.GeotagPhoto/examples/camera.html">NYPL tooltje</a> die maakt.
    </td>
  </tr>
</table>


<h2>Optionele Parameters</h2>

<table>
  <tr>
    <td style="width: 30%">
      <strong>camera_scale</strong>
    </td>
    <td style="width: 30%">
      camera_scale=1.33
    </td>
    <td>
      Verlengt het blikveld. Als je denkt dat mensen het blikveld wat 'kort' getrokken hebben, kan je het met dit getal 'verlengen'.
    </td>
  </tr>
  <tr>
    <td>
      <strong>output</strong>
    </td>
    <td>
      output=output_pand_punten
    </td>
    <td>
      de opties zijn 'output_adres_punten', 'output_pand_vlakken' of 'output_pand_punten'
    </td>
  </tr>
  <tr>
    <td>
      <strong>format</strong>
    </td>
    <td>
      format=format_geojson
    </td>
    <td>
      de opties zijn 'format_geojson' of 'format_geojson_io' (= doorsturen naar geojson.io)
    </td>
  </tr>
  <tr>
    <td>
      <strong>show_cameras</strong>
    </td>
    <td>
      show_cameras=true
    </td>
    <td>
      toont in de resultaten ook de geometrie van het blikveld
    </td>
  </tr>
  <tr>
    <td>
      <strong>show_input</strong>
    </td>
    <td>
      show_input=true
    </td>
    <td>
      toont alle panden (voor de analyse) binnen de driehoek van het blikveld, ook de panden die achter een ander staan
    </td>
  </tr>
  <tr>
    <td>
      <strong>method_vertex</strong>
    </td>
    <td>
      method_vertex=true
    </td>
    <td>
      bereken zichtbaarheid vanuit hoekpunten panden naar camerastandpunt
    </td>
  </tr>
  <tr>
    <td>
      <strong>method_beam</strong>
    </td>
    <td>
      method_beam=true
    </td>
    <td>
      bereken zichtbaarheid door te kijken of stralen vanuit het camerastandpunt tegen panden op botsen
    </td>
  </tr>
  <tr>
    <td>
      <strong>show_debug</strong>
    </td>
    <td>
      show_debug=true
    </td>
    <td>
      geeft ALLE features terug die hebben meegedaan in de analyses: 'beams', 'vertices', opgehaalde panden etc etc: VEEL!
    </td>
  </tr>
</table>

<p>Gebruik de 'Verstuur (GET)'-knop om de GET parameters en de url te kunnen zien in de browser.
De api zelf werkt zowel met POST als GET.
</p>

<h2>Probeer het zelf</h2>

<form action="api" method="POST" id="testform">
<div class="wrapper">

  <div class="params">

  <label>Camera-schaal (camera_scale)</label><br />

  <select name="camera_scale" id="camera_scale" style="width: 50%;">
    <option value="1">1</option>
    <option value="1.2">1.2</option>
    <option value="1.5">1.5</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="0.5">0.5</option>
    <option value="0.6">0.6</option>
    <option value="0.7">0.7</option>
  </select>

  <p class="smaller">
    De <code>camera_scale</code> verlengt (of verkort) het blikveld. Als je denkt dat mensen het blikveld wat 'kort' getrokken hebben, kan je het met dit getal veranderen.
  </p>
  <!--<label>WFS Data source</label>
  <select name="datasource" id="datasource">
    <option value="use_bag_panden">BAG Panden</option>
    <option value="use_kadaster_bebouwing">Kadaster Bebouwing</option>
  </select>
  <br/>-->
  <label>Output</label><br />

  <select name="output" style="width: 50%;">
    <option value="output_adres_punten">Adres Punten</option>
    <option value="output_pand_vlakken">Pand Vlakken</option>
    <option value="output_pand_punten">Pand Punten</option>
  </select>

  <p class="smaller">Wil je punten van BAG adressen, vlakken van BAG panden of de middenpunten van die vlakken?</p>

  <label>Format</label><br />

  <select name="format" style="width: 50%;">
    <option value="format_geojson">GeoJson</option>
    <option value="format_geojson_io">geojson.io</option>
    <!--<option value="format_geojson_html">Geojson in HTML</option>-->
    <!--<option value="format_qgis">QGIS (alleen lokaal mogelijk)</option>-->
  </select>

  <p class="smaller">Wil je de kale GeoJson of de resultaten meteen bekijken?</p>

  <input type="checkbox" id="show_cameras" name="show_cameras" checked> <label>Toon Camera's (show_cameras)</label>

  <p class="smaller">Wil je het blikveld driehoekje als geometrie opgenomen hebben in het resultaat?</p>
  
  <input type="checkbox" id="show_input" name="show_input"> <label>Toon Input Features (show_input)</label>

  <p class="smaller">Toont alle panden die binnen het driehoekje vallen (dus ook de panden die achter andere staan)</p>

  <input type="checkbox" id="method_vertex" name="method_vertex" checked> <label>Gebruik 'vertex' methode (method_vertex)</label>
  
  <p class="smaller">Kijkt of er onbelemmerd zicht is van hoekpunten panden naar camerastandpunt.</p>

  <input type="checkbox" id="method_beam" name="method_beam" checked> <label>Gebruik 'beam' methode (method_beam)</label>
  
  <p class="smaller">Trekt stralen vanuit het camerastandpunt en kijkt of ze tegen een pand 'botsen'. De beste resultaten krijg je door zowel de 'beam' als de 'vertex' methode te gebruiken.</p>

  <input type="checkbox" id="show_debug" name="show_debug"><label>Retourneer Debug Features (show_debug)</label>

  <p class="smaller">Hiermee krijg je ALLE features terug die hebben meegedaan in de analyses: 'beams', 'vertices', opgehaalde panden etc etc: VEEL!</p>

  <p>
    <button type="submit" onclick="document.getElementById('testform').method='POST';">Verstuur (POST)</button>
    <button type="submit" onclick="document.getElementById('testform').method='GET';">Verstuur (GET)</button>
    <p class="smaller">Met de GET knop zie je de met dit formulier opgebouwde url in de browser</p>
  </p>

  </div>

  <div class="entry">

  <textarea name="camera_json" rows="45">
{
  "type": "Feature",
  "properties": {
    "angle": 38.876645504061116,
    "bearing": 31.979981482645943,
    "distance": 87.9921646359149
  },
  "geometry": {
    "type": "GeometryCollection",
    "geometries": [
      {
        "type": "Point",
        "coordinates": [
          4.646878838539124,
          52.3969167956431
        ]
      },
      {
        "type": "LineString",
        "coordinates": [
          [
            4.647177386477727,
            52.39773567907421
          ],
          [
            4.647953579015309,
            52.39743995473123
          ]
        ]
      }
    ]
  }
}
  </textarea>
  </div>


</div>

</form>

<h2 id="hoehetwerkt">Hoe het werkt</h2>

<p>
  Op basis van de 'camera-driehoek' worden eerst uit de BAG alle panden opgehaald en geanalyseerd.
  Desgewenst worden daarna van de resultaat-panden nog de adressen opgehaald.
</p>

<p>
  Het script retourneert eigenlijk altijd <a href="https://geojson.org/">GeoJSON</a> of een json met een foutmelding.
  GeoJSON kun je eenvoudig bekijken (en maken) op <a href="https://geojson.io/">https://geojson.io/</a> of in <a href="https://qgis.org">QGIS</a>.
  Er is via <a href="https://github.com/rduivenvoorde/blikveld/blob/master/blikveld/qgisproject.qgz?raw=true">Github een QGIS project</a>
  beschikbaar met styling (zoals in onderstaande afbeeldingen) die GeoJSON MET debug informatie inzichtelijker maakt.
  Zorg dat de GeoJSON met als naam 'result.json' in dezelfde map staat als de QGIS-projectfile.
</p>

<p>
Het script gebruikt twee manieren om te kijken of er ongehinderd zicht is tussen pand en camerastandpunt:
  de 'beam' methode en de 'vertex' methode. Beide manieren hebben zo hun voordelen en nadelen, maar als ze samen gebruikt worden vullen ze elkaar prima aan.
</p>

<ul>
  <li>
    <h3>Beam</h3>
    <p>
      Op de tegenover het camerastandpunt gelegen zijde van de blikvelddriehoek worden 100 puntjes gezet (het plaatje hieronder ter illustratie 'maar' 20),
      en tussen die puntjes en het camerastandpunt worden stralen getekend. Van elk van die stralen wordt gekeken welke panden doorsneden worden,
      en of er tussen dat snijpunt en het camerastandpunt een ander pand ligt dat het zicht belemmert. Anders gezegd: het pand met dichtsbij-liggende snijpunt wordt geselecteerd.
    </p>
    <p>
      Nadeel van deze methode is, dat je panden kunt 'missen' als je erg schuin een straat in kijkt: in de figuren wordt nummer 24 gemist. Als een gevel vrijwel parallel loopt aan de stralen is de kans niet onverwaarloosbaar dat de gevel tussen twee stralen in valt en dus niet geraakt wordt.
    </p>
    <p>
      Onderstaande figuren tonen alle 'debug' informatie uit de analyse:
    </p>
    <ul>
      <li>De driehoek van de camera: de grijze driehoek</li>
      <li>Alle panden die ermee overlappen: de niet gevulde blauwe vlakken.</li>
      <li>De "beams's" (in dit geval slechts 20): de groene lijntjes</li>
      <li>Alle panddoorsnijdingen: de rode lijntjes</li>
      <li>Alle doorsnijdingspunten die meedoen: de kleinste oranje puntjes</li>
      <li>De geselecteerde (meest dichtbij) gelegen daarvan: de kleine rode puntjes</li>
      <li>De op basis daarvan geselecteerde panden: de blauwe gevulde vlakken</li>
      <li>Op basis waarvan de adressen zijn opgehaald: de grote ronde punten</li>
    </ul>
    <p>
      <img src="imgs/beam_hits.png" />
    </p>
    <p>
      <img src="imgs/beam_intersections.png" />
    </p>
  </li>
  <li>
    <h3>Vertex</h3>
    <p>
      De vertex methode werkt andersom en neemt de hoekpunten van de panden die binnen de driehoek vallen als uitgangspunt. Vanuit elk coördinaat in de polygoon van elk pand wordt een lijn getrokken naar het camerastandpunt, en vervolgens wordt gekeken of die lijn onderweg niet een ander pand raakt.
    </p>
    <p>
      Onderstaande figuur toont alle 'debug' informatie uit de analyse:
    </p>
    <ul>
      <li>De driehoek van de camera: de grijze driehoek</li>
      <li>Alle panden die ermee overlappen: de niet gevulde blauwe vlakken.</li>
      <li>Alle hoekpuntjes binnen de camera die meedoen: de kleine paarse puntjes</li>
      <li>Alle kijklijnen, van standpunt naar hoekpuntjes: de rode lijntjes</li>
      <li>De geselecteerde (meest dichtbij) gelegen punten 'in het zicht': de groene puntjes</li>
      <li>De op basis daarvan geselecteerde panden: de blauwe gevulde vlakken</li>
      <li>Op basis waarvan de adressen zijn opgehaald: de grote ronde punten</li>
    </ul>
    <p>
      <img src="imgs/vertex_hits.png" />
    </p>
    <p>
      Ook als je heel schuin een straat in kijkt wordt elk pand (voor zover dat tenminste niet ergens achter ligt) zo keurig meegenomen.
    </p>
    <p>
      Stel je nu voor dat je vanuit straat A naar een t-splitsing kijkt, en dat aan straat B, waar je tegenaan kijkt, een breed pand ligt. Het kan best dat de hoeken van dat pand niet zichtbaar zijn door de bebouwing in straat A, terwijl de rest van het pand toch prominent in beeld is. Of dat de fotograaf zo dicht op een pand stond dat er überhaupt geen hoeken op de foto terecht zijn gekomen. Hieronder zo'n geval.
    </p>
    <p>
      <img src="imgs/broodfabriekpoort_vertex.png" />
    </p>
    <p>
      De beam-methode (hier met 'maar' 20 beams (standaard 100)) werkt dan wel:
    </p>
    <p>
      <img src="imgs/broodfabriekpoort_beam.png" />
    </p>
  </li>
</ul>

</body>






























